body {
      position: relative;
  }
  ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
  }


  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
        margin-left: 150px;
    }
  }
  .nav-pills>li.active>a,
  .nav-pills>li.active>a:focus,
  .nav-pills>li.active>a:hover {
    color: #161925;
    background-color: #F1D302;
  }
  p{
  color: #FDFFFC;
  font-size:20px;
  }
  a {
    color: #FDFFFC;
  }

  body {
    position: relative;
  }

  ul.nav-pills {
    top: 20px;
    position: fixed;
  }

  div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
  }

  @media screen and (max-width: 810px) {
    #section1,
    #section2,
    #section3,
    #section41,
    #section42 {
      margin-left: 150px;
    }
  }
